﻿@using ContentGuide.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Đăng nhập hệ thống!</h1>
    </div>
    <form asp-controller="Account" asp-action="Login" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.TextBoxFor(m => m.EmployeeCode, new { @class = "form-control form-control-user", placeholder = "Mã số nhân viên" })
            @Html.ValidationMessageFor(m => m.EmployeeCode, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", placeholder = "Mật khẩu" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox small">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Log in" class="btn btn-primary btn-user btn-block" />
        </div>
    </form>    
</div>